*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
header{
    width: 100%;
    background-color: darkblue;
    display: flex;
    flex-direction: row;
    
}
.logo{
    width: 20%;
    height: 70px;
    background-color: darkcyan;
}
.nav-bar{
   width: 60%;
   background-color: cornflowerblue;
   
}
#menu ul{
    list-style: none;
    line-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    text-decoration: none;
    color:  black;
}
.dropdown{
    display: none;
}
.dropdown.active{
    display: flex;
}
#account{
    position: absolute;
    padding: 0 20px;
    top: 80px;
    left: 46%;
    box-shadow: 0 5px 5px #a0a0a0ec;
}

#account ul{
    display: flex;
    flex-direction: column;
}
#account ul li{
    padding-left: 10px;
}
#prodotto{
    position: absolute;
    padding: 0 20px;
    top: 80px;
    left: 53%;
    box-shadow: 0 5px 5px #a0a0a0ec;
}
#prodotto ul{
    display: flex;
    flex-direction: column;
}
#prodotto ul li{
    padding-left: 10px;
}
#company{
    position: absolute;
    padding: 0 20px;
    top: 80px;
    left: 60%;
    box-shadow: 0 5px 5px #a0a0a0ec;
}
#company ul{
    display: flex;
    flex-direction: column;
}
#company ul li{
    padding-left: 10px;
}
#help{
    position: absolute;
    padding: 0 20px;
    top: 80px;
    left: 67%;
    box-shadow: 0 5px 5px #a0a0a0ec;
}
#help ul{
    display: flex;
    flex-direction: column;
}
#help ul li{
    padding-left: 10px;
}
