*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body{
    color: rgba(163, 158, 158, 0.712);
    font-family: 'Lato', sans-serif;
}
header{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 70px;
}



.logo{
    width: 20%;

}



.nav-bar{
    width: 60%;
}


   
#menu ul{
    list-style: none;
    line-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#menu ul li{
    display: inline;
}
#menu ul li a{
    text-decoration: none;
    color: rgba(163, 158, 158, 0.712);
}
#menu ul li a:focus{
    color: black;
}
.dropdown{
    display: none;
}
.dropdown.active{
    display: flex;
}
#account{
    position: absolute;
    padding: 0 20px;
    top: 80px;
    left: 46%;
    box-shadow: 0 5px 5px #a0a0a0ec;
}

#account ul{
    display: flex;
    flex-direction: column;
}
#account ul li{
    padding-left: 10px;
}
#prodotto{
    position: absolute;
    padding: 0 20px;
    top: 80px;
    left: 53%;
    box-shadow: 0 5px 5px #a0a0a0ec;
}
#prodotto ul{
    display: flex;
    flex-direction: column;
}
#prodotto ul li{
    padding-left: 10px;
}
#company{
    position: absolute;
    padding: 0 20px;
    top: 80px;
    left: 60%;
    box-shadow: 0 5px 5px #a0a0a0ec;
}
#company ul{
    display: flex;
    flex-direction: column;
}
#company ul li{
    padding-left: 10px;
}
#help{
    position: absolute;
    padding: 0 20px;
    top: 80px;
    left: 67%;
    box-shadow: 0 5px 5px #a0a0a0ec;
}
#help ul{
    display: flex;
    flex-direction: column;
}
#help ul li{
    padding-left: 10px;
}

#lang{
    position: absolute;
    padding: 0 20px;
    top: 80px;
    left: 74%;
    box-shadow: 0 5px 5px #a0a0a0ec;
}
#lang ul{
    display: flex;
    flex-direction: column;
}
#lang ul li{
    padding-left: 10px;
}

.btn{
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 25px;
    background-color: blueviolet;
    color: white;
}
.upper {
    text-transform: uppercase;
}
.black{
    color: black;
}